@model FeedbackFinal.Models.Domain.Response
@{
}


	<legend> Feedback Form </legend>
	
	<div class="container">
		<div class="row" style="margin-bottom: 30px;" id="table">

			<div class="container">
				<div class="row">
					<div class="col-12 mt-4" style="text-align:justify">
						<strong>
							A. ABOUT GENERAL ADMINISTRATION:
						</strong>
					</div>
					<div class="col-8" style="text-align:justify">1.	Whether problems have been solved, as and when approached? </div>
					<div class="col-4" style="text-align:justify">
					<input type="radio" value="Yes" required="" @if(Model.ResponseTextA1 == "Yes"){<text>checked</text>}>Yes
					<input type="radio"  value="No" @if(Model.ResponseTextA1 == "No"){<text>checked</text>}>No
					</div>
					<div class="col-8 mt-2" style="text-align:justify">2.	Whether overall administrative support has been satisfactorily? </div>
					<div class="col-4 mt-2" style="text-align:justify">
						<input type="radio"  value="Yes" required="" @if(Model.ResponseTextA2 == "Yes"){<text>checked</text>}>Yes
						<input type="radio"  value="No" @if(Model.ResponseTextA2 == "No"){<text>>checked</text>}>No
					</div>
					<div class="col-8 mt-2" style="text-align:justify">3.	Any specific suggestion for administrative improvement:  </div>
					<div class="col-12 mt-2 mb-2" style="text-align:justify">
						<input type="text"  value=@Model.ResponseTextA3 style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Provide the Suggestion ">
					</div>
				</div>
			</div>


			<div class="container">
				<div class="row">
					<div class="col-12 mt-4" style="text-align:justify">
						<strong>
							B. ABOUT THE LABORATORY:
						</strong>
					</div>
					<div class="col-8" style="text-align:justify">1.	Whether enough time has been given for Practice? </div>
					<div class="col-4" style="text-align:justify">
						<input type="radio"  value="Yes" required="" @if(Model.ResponseTextB1 == "Yes"){<text>checked</text>}>Yes
						<input type="radio"  value="No" @if(Model.ResponseTextB1 == "No"){<text>checked</text>}>No
					</div>
					<div class="col-8 mt-2" style="text-align:justify">2.	Whether enough exercises and assignments have been given?  </div>
					<div class="col-4 mt-2" style="text-align:justify">
						<input type="radio"  value="Yes" required="" @if(Model.ResponseTextB2 == "Yes"){<text>checked</text>}>Yes
						<input type="radio"  value="No" @if(Model.ResponseTextB2 == "No"){<text>checked</text>}>No
					</div>
					<div class="col-8 mt-2" style="text-align:justify">3.	Whether enough support has been provided during practical hours? </div>
					<div class="col-4 mt-2" style="text-align:justify">
						<input type="radio" value="Yes" required="" @if(Model.ResponseTextB3 == "Yes"){<text>checked</text>}>Yes
						<input type="radio" value="No" @if(Model.ResponseTextB3 == "No"){<text>checked</text>}>No
					</div>
					<div class="col-8 mt-2" style="text-align:justify">4.	Whether evaluation/assessment has been done?  </div>
					<div class="col-4 mt-2" style="text-align:justify">
						<input type="radio"  value="Yes" required="" @if(Model.ResponseTextB4 == "Yes"){<text>checked</text>}>Yes
						<input type="radio"  value="No" @if(Model.ResponseTextB4 == "No"){<text>checked</text>}>No
					</div>
					<div class="col-8 mt-2" style="text-align:justify">5.	Whether mistakes have been highlighted and due corrections have been done?   </div>
					<div class="col-4 mt-2" style="text-align:justify">
						<input type="radio" value="Yes" required="" @if(Model.ResponseTextB5 == "Yes"){<text>checked</text>}>Yes
						<input type="radio" value="No" @if(Model.ResponseTextB5 == "No"){<text>checked</text>}>No
					</div>
					<div class="col-8 mt-2" style="text-align:justify">6.	Any specific suggestion for administrative improvement:  </div>
					<div class="col-12 mt-2 mb-2" style="text-align:justify">
						<input type="text"  value=@Model.ResponseTextB6 style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Provide the Suggestion ">
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-12 mt-4" style="text-align:justify">
						<strong>
							C. ABOUT THE LIBRARY:
						</strong>
					</div>
					<div class="col-8" style="text-align:justify">1.	Whether book bank facility has been satisfactory? </div>
					<div class="col-4" style="text-align:justify">
						<input type="radio" value="Yes" required="" @if(Model.ResponseTextC1 == "Yes"){<text>checked</text>}>Yes
						<input type="radio" value="No" @if(Model.ResponseTextC1 == "No"){<text>checked</text>}>No
					</div>
					<div class="col-8 mt-2" style="text-align:justify">2.	Whether related Magazines / Journals are available in the Library?   </div>
					<div class="col-4 mt-2" style="text-align:justify">
						<input type="radio" value="Yes" required="" @if(Model.ResponseTextC2 == "Yes"){<text>checked</text>}>Yes
						<input type="radio" value="No" @if(Model.ResponseTextC2 == "No"){<text>checked</text>}>No
					</div>
					<div class="col-8 mt-2" style="text-align:justify">3.	Whether books, which have been requested by students or recommended by faculty, have been procured in the Library?  </div>
					<div class="col-4 mt-2" style="text-align:justify">
						<input type="radio" value="Yes" required="" @if(Model.ResponseTextC3 == "Yes"){<text>checked</text>}>Yes
						<input type="radio" value="No" @if(Model.ResponseTextC3 == "No"){<text>checked</text>}>No
					</div>
					<div class="col-8 mt-2" style="text-align:justify">4.	Whether facility of reference section has been provided, when required? </div>
					<div class="col-4 mt-2" style="text-align:justify">
						<input type="radio" value="Yes" required="" @if(Model.ResponseTextC4 == "Yes"){<text>checked</text>}>Yes
						<input type="radio" value="No" @if(Model.ResponseTextC4 == "No"){<text>checked</text>}>No
					</div>
					<div class="col-8 mt-2" style="text-align:justify">5.	Any specific suggestion for improvement in Library System: </div>
					<div class="col-12 mt-2 mb-2" style="text-align:justify">
						<input type="text" value=@Model.ResponseTextC5 style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Provide the Suggestion ">
					</div>
				</div>
			</div>



			<table class="table table-stripped table-bordered text-justify">
				<tbody>
					<tr>
						<th rowspan="2" width="6%">S.No.</th>
						<th rowspan="2" width="50%">Parameters</th>
						<th colspan="5" width="24%">Rating</th>

					</tr>
					<tr>
						<th>Excellent<br>  (5)</th>
						<th>Very Good<br>  (4)</th>
						<th>Good<br>  (3)</th>
						<th>Average<br> (2)</th>
						<th>Poor<br> (1)</th>
					</tr>
					<tr>
						<td>1</td>
						<td>
							The objectives of this course were made clear to me by this teacher
						</td>
						<td><input type="radio"  id="feedback1" value="5" required="" @if(Model.ResponseTextD1 == "5"){<text>checked</text>}> (5)</td>
						<td><input type="radio"  id="feedback1" value="4" @if(Model.ResponseTextD1 == "4"){<text>checked</text>}> (4)</td>
						<td><input type="radio"  id="feedback1" value="3" @if(Model.ResponseTextD1 == "3"){<text>checked</text>}> (3)</td>
						<td><input type="radio"  id="feedback1" value="2" @if(Model.ResponseTextD1 == "2"){<text>checked</text>}> (2)</td>
						<td><input type="radio"  id="feedback1" value="1" @if(Model.ResponseTextD1 == "1"){<text>checked</text>}> (1)</td>
					</tr>
					<tr>
						<td>2</td>
						<td>The teacher speaks, articulate and explains  concepts  clearly		</td>
						<td><input type="radio"  id="feedback2" value="5" required="" @if(Model.ResponseTextD2 == "5"){<text>checked</text>}> (5)</td>
						<td><input type="radio"  id="feedback2" value="4" @if(Model.ResponseTextD2 == "4"){<text>checked</text>}> (4)</td>
						<td><input type="radio"  id="feedback2" value="3" @if(Model.ResponseTextD2 == "3"){<text>checked</text>}> (3)</td>
						<td><input type="radio"  id="feedback2" value="2" @if(Model.ResponseTextD2 == "2"){<text>checked</text>}> (2)</td>
						<td><input type="radio"  id="feedback2" value="1" @if(Model.ResponseTextD2 == "1"){<text>checked</text>}> (1)</td>
					</tr>
					<tr>
						<td>3</td>
						<td>The teacher  adheres to  the timing Schedule  and   enforces Discipline in the class		</td>
						<td><input type="radio" id="feedback3" value="5" required="" @if(Model.ResponseTextD3 == "5"){<text>checked</text>}> (5)</td>
						<td><input type="radio" id="feedback3" value="4" @if(Model.ResponseTextD3 == "4"){<text>checked</text>}> (4)</td>
						<td><input type="radio" id="feedback3" value="3" @if(Model.ResponseTextD3 == "3"){<text>checked</text>}> (3)</td>
						<td><input type="radio" id="feedback3" value="2" @if(Model.ResponseTextD3 == "2"){<text>checked</text>}> (2)</td>
						<td><input type="radio" id="feedback3" value="1" @if(Model.ResponseTextD3 == "1"){<text>checked</text>}> (1)</td>
					</tr>
					<tr>
						<td>4</td>
						<td>
							The  teacher  is  stimulating,  interesting  to listen to and inspires the students in the class
						</td>
						<td><input type="radio" id="feedback4" value="5" required="" @if(Model.ResponseTextD4 == "5"){<text>checked</text>}> (5)</td>
						<td><input type="radio" id="feedback4" value="4" @if(Model.ResponseTextD4 == "4"){<text>checked</text>}> (4)</td>
						<td><input type="radio" id="feedback4" value="3" @if(Model.ResponseTextD4 == "3"){<text>checked</text>}> (3)</td>
						<td><input type="radio" id="feedback4" value="2" @if(Model.ResponseTextD4 == "2"){<text>checked</text>}> (2)</td>
						<td><input type="radio" id="feedback4" value="1" @if(Model.ResponseTextD4 == "1"){<text>checked</text>}> (1)</td>
					</tr>
					<tr>
						<td>5</td>
						<td>
							The lectures were well structured and focused on the topics
						</td>
						<td><input type="radio"  id="feedback5" value="5" required="" @if(Model.ResponseTextD5 == "5"){<text>checked</text>}> (5)</td>
						<td><input type="radio"  id="feedback5" value="4" @if(Model.ResponseTextD5 == "4"){<text>checked</text>}> (4)</td>
						<td><input type="radio"  id="feedback5" value="3" @if(Model.ResponseTextD5 == "3"){<text>checked</text>}> (3)</td>
						<td><input type="radio"  id="feedback5" value="2" @if(Model.ResponseTextD5 == "2"){<text>checked</text>}> (2)</td>
						<td><input type="radio"  id="feedback5" value="1" @if(Model.ResponseTextD5 == "1"){<text>checked</text>}> (1)</td>
					</tr>
					<tr>
						<td>6</td>
						<td>
							The  teacher  has  enthusiasm  and  concern  for students
						</td>
						<td><input type="radio" id="feedback6" value="5" required="" @if(Model.ResponseTextD6 == "5"){<text>checked</text>}> (5)</td>
						<td><input type="radio" id="feedback6" value="4" @if(Model.ResponseTextD6 == "4"){<text>checked</text>}> (4)</td>
						<td><input type="radio" id="feedback6" value="3" @if(Model.ResponseTextD6 == "3"){<text>checked</text>}> (3)</td>
						<td><input type="radio" id="feedback6" value="2" @if(Model.ResponseTextD6 == "2"){<text>checked</text>}> (2)</td>
						<td><input type="radio" id="feedback6" value="1" @if(Model.ResponseTextD6 == "1"){<text>checked</text>}> (1)</td>
					</tr>
					<tr>
						<td>7</td>
						<td>
							The  teacher  has  fair  knowledge  of the  subject matter
						</td>
						<td><input type="radio" id="feedback7" value="5" required="" @if(Model.ResponseTextD7 == "5"){<text>checked</text>}> (5)</td>
						<td><input type="radio" id="feedback7" value="4" @if(Model.ResponseTextD7 == "4"){<text>checked</text>}> (4)</td>
						<td><input type="radio" id="feedback7" value="3" @if(Model.ResponseTextD7 == "3"){<text>checked</text>}> (3)</td>
						<td><input type="radio" id="feedback7" value="2" @if(Model.ResponseTextD7 == "2"){<text>checked</text>}> (2)</td>
						<td><input type="radio" id="feedback7" value="1" @if(Model.ResponseTextD7 == "1"){<text>checked</text>}> (1)</td>
					</tr>
					<tr>
						<td>8</td>
						<td>The teacher's method of teaching was effective with best possible pedagogies		</td>
						<td><input type="radio" id="feedback8" value="5" required="" @if(Model.ResponseTextD8 == "5"){<text>checked</text>}> (5)</td>
						<td><input type="radio" id="feedback8" value="4" @if(Model.ResponseTextD8 == "4"){<text>checked</text>}> (4)</td>
						<td><input type="radio" id="feedback8" value="3" @if(Model.ResponseTextD8 == "3"){<text>checked</text>}> (3)</td>
						<td><input type="radio" id="feedback8" value="2" @if(Model.ResponseTextD8 == "2"){<text>checked</text>}> (2)</td>
						<td><input type="radio" id="feedback8" value="1" @if(Model.ResponseTextD8 == "1"){<text>checked</text>}> (1)</td>
					</tr>
					<tr>
						<td>9</td>
						<td>
							Time spent on lecturing by the teacher for course coverage was sufficient and lesson plan was followed
						</td>
						<td><input type="radio" id="feedback9" value="5" required="" @if(Model.ResponseTextD9 == "5"){<text>checked</text>}> (5)</td>
						<td><input type="radio" id="feedback9" value="4" @if(Model.ResponseTextD9 == "4"){<text>checked</text>}> (4)</td>
						<td><input type="radio" id="feedback9" value="3" @if(Model.ResponseTextD9 == "3"){<text>checked</text>}> (3)</td>
						<td><input type="radio" id="feedback9" value="2" @if(Model.ResponseTextD9 == "2"){<text>checked</text>}> (2)</td>
						<td><input type="radio" id="feedback9" value="1" @if(Model.ResponseTextD9 == "1"){<text>checked</text>}> (1)</td>
					</tr>
					<tr>
						<td>10</td>
						<td>
							The   teacher   encourages   students   to    raise pertinent questions and answers them
						</td>
						<td><input type="radio" id="feedback10" value="5" required="" @if(Model.ResponseTextD10 == "5"){<text>checked</text>}> (5)</td>
						<td><input type="radio" id="feedback10" value="4" @if(Model.ResponseTextD10 == "4"){<text>checked</text>}> (4)</td>
						<td><input type="radio" id="feedback10" value="3" @if(Model.ResponseTextD10 == "3"){<text>checked</text>}> (3)</td>
						<td><input type="radio" id="feedback10" value="2" @if(Model.ResponseTextD10 == "2"){<text>checked</text>}> (2)</td>
						<td><input type="radio" id="feedback10" value="1" @if(Model.ResponseTextD10 == "1"){<text>checked</text>}> (1)</td>
					</tr>




				</tbody>
			</table>
			<div class="container">
				<div class="row">

					<div class="col-8" style="text-align:justify">E. Whether value added inputs / workshops / seminars have been conducted?  </div>
					<div class="col-4" style="text-align:justify">
						<input type="radio" value="Yes" required="" @if(Model.ResponseTextE1 == "Yes"){<text>checked</text>}>Yes
						<input type="radio" value="No" @if(Model.ResponseTextE1 == "No"){<text>checked	</text>}>No
					</div>

					<div class="col-8 mt-2" style="text-align:justify">F. List topics on which you feel Lectures / Workshops should be organized in near future:     </div>
					<div class="col-12 mt-2 mb-2" style="text-align:justify">
						<input type="text" value=@Model.ResponseTextF1 style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Provide the comma separated List of Topics  ">
					</div>
				</div>
			</div>

			<div class="col-8 mt-2" style="text-align:justify">G. What are your suggestions for further improvement of Teaching Learning System (TLS):    </div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">
				<input type="text" value=@Model.ResponseTextG1 style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Provide the suggestion">
			</div>



			<div class="col-8 mt-2" style="text-align:justify">H. How can you help / contribute to improve the overall system of the Institute (both in short run and long run)?   </div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">
				<input type="text" value=@Model.ResponseTextH1 style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Provide the suggestion  ">
			</div>



			<div class="col-8 mt-2" style="text-align:justify">I. Five strengths  / positive points of your Institute: (mandatory to fill) </div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">1. <input required="" type="text" value=@Model.ResponseTextI1 style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Strength 1 "></div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">2. <input required="" type="text" value=@Model.ResponseTextI2 style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Strength 2 "></div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">3. <input required="" type="text" value=@Model.ResponseTextI3 style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Strength 3 "></div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">4. <input required="" type="text" value=@Model.ResponseTextI4 style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Strength 4 "></div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">5. <input required="" type="text" value=@Model.ResponseTextI5 style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Strength 5 "></div>


			<div class="col-8 mt-2" style="text-align:justify">J. Five weaknesses / negative points of your Institute: (Mandatory to fill, Put NA if not applicable) </div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">1. <input required="" type="text"  value=@Model.ResponseTextJ1  style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Weakness 1 "></div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">2. <input required="" type="text"  value=@Model.ResponseTextJ2  style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Weakness 2 "></div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">3. <input required="" type="text"  value=@Model.ResponseTextJ3  style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Weakness 3 "></div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">4. <input required="" type="text"  value=@Model.ResponseTextJ4  style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Weakness 4 "></div>
			<div class="col-12 mt-2 mb-2" style="text-align:justify">5. <input required="" type="text"  value=@Model.ResponseTextJ5  style="border:0px; border-bottom: 1px solid #000;width: 80%" placeholder="Weakness 5 "></div>






			<strong>Suggestion for improvement in the workshop (If any):</strong>

			<textarea  value= @Model.ResponseTextK1 id="suggestion" class="form-control"> @Model.ResponseTextK1 </textarea>

		</div>
	</div>
					
</div>

